*{
    margin:0;
    padding: 0;
  }
  
  @mixin flexbox {
    display:-webkit-flex; 
    display: -ms-flexbox; 
    display:flex; 
  }

  .alivio-convencional-container{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: center;
    width: 95%;
    border:1px solid #aeaeae;
    align-items: center;
    .botones{
      text-align: center;
      margin-top: 1rem;
      padding: 1rem .3rem;
      
      button{
        margin-right: 2rem;
        width: 10rem;
      }
  
      .mat-tab-label-content{
        color:red !important;
      }
    }
    
    mat-card{
      width: 100%;
      margin-top:1rem;
      margin-bottom: 2.5rem;
    }
  
    .section-1 {
      display:inline-block;
      color:#aeaeae;
      .mat-checkbox {
          margin-right: 1rem;
          margin-left: 2rem;
      
      }
  
      mat-radio-button{
        margin-right: 1rem;
        margin-left: 2rem;
  
      }
  
      .example-full-width {
        width: 100%;
        min-width: 500px;
        max-width: 500px;
        .mat-input-element{
          width: 500px !important;
        }
      }
  
  }
  
    .section-2 {
      display:block;
      color:#aeaeae;
      height: 2rem;
      margin-top:.5rem;
      margin-bottom: .5rem;
      .mat-checkbox {
          margin-right: 1rem;
          margin-left: 2rem;
      
      }
  
    }
  
  }
  
  
  mat-tab-group{
      width: 95%;
    
      mat-form-field{
          margin-right: .7rem;
          width: 31%;

          .busqueda-icon{
            float:right; 
            position: fixed; 
            margin-left:-20px;
            &:hover{
              cursor: pointer;
            }
          }
      }
      
      .mat-form-field-1{
          margin-right: .7rem;
          width: 23%;
      }
  
      .mat-form-field-2{
          margin-right: .7rem;
          width: 14%;
      }
  
      .mat-form-field-3{
          margin-right: .7rem;
          width: 50%;
      }
  
      .mat-form-field-4{
        margin-right: .7rem;
        width: 47%;
      }
  
      .mat-form-field-5{
        margin-right: .7rem;
        width: 35%;
      }
    
    }
  
  ::ng-deep .create-account-form {
      .mat-focused .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: #e43a15 !important;
      }
      .mat-focused .mat-form-field-label {
        /*change color of label when focused*/
        color: #e43a15 !important;
       }
    }  