<p class="secciones">Válvulas Alivio, y/o Seguridad Convencional</p>
<div class="valvulas-container">
    <div class="seg-conv-container-img">
       <table  class="mat-elevation-z8">
        <th>imagen de referencia</th>
        <tr>
          <td>
            <img src="../../../assets/img/seguridad-convencional.png">
          </td>
        </tr>
    </table>
    </div>
    <div class="seg-conv-container-tablero">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Items. </th>
              <td class="tde" mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
              <td class="tde" mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>