<!-- <div class="opt-1">Opcion 1</div>
<div class="opt-2">Opcion 2</div> -->
<div style="color:#fff">Bienvenido Usuario ingresado</div>
<button mat-button [matMenuTriggerFor]="menu">
    <img src="{{foto_avatar}}" alt="Avatar" class="avatar2">
    <mat-icon class="icono_more_vert">more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" class="mat-menu" style="z-index: 9999999999999;">
    <mat-card>
        <mat-card-header>
            <img src="{{foto_avatar}}" alt="Avatar" class="avatar2">
        </mat-card-header> 
        <mat-card-title>
            <span>Usuario ingresado</span>
        </mat-card-title>
        <mat-card-subtitle>
            <span>usuario-ingresado@hotmail.com</span>
        </mat-card-subtitle>
      </mat-card>
      <mat-divider></mat-divider>
  <button mat-menu-item class="mat-menu-button" (click)="perfil()"><i class="fa fa-user" aria-hidden="true"></i>Perfil usuario</button>
  <button mat-menu-item class="mat-menu-button" (click)="salida()"><i class="fa fa-sign-out" aria-hidden="true"></i>Salir</button>
</mat-menu> 


