<h3 class="secciones">Válvulas Alivio, y/o Seguridad Balanceada (fuelle)</h3>
<div class="valvulas-container">
    <div class="seg-conv-container-img">
        <img src="../../../assets/img/seguridad-balanceada.png" class="">
    </div>
    <div class="seg-conv-container-tablero">
        <table>
            <thead>
            <tr> 
                <th>Items</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>1</td><td>Cuerpo</td></tr>
            <tr><td>2</td><td>Boquilla</td></tr>
            <tr><td>3</td><td>Almena (anillo ajuste)</td></tr>
            <tr><td>4</td><td>Pin de ajuste de Almena</td></tr>
            <tr><td>5</td><td>Junta de pin de Almena</td></tr>
            <tr><td>6</td><td>Disco</td></tr>
            <tr><td>7</td><td>Retenedor del Disco</td></tr>
            <tr><td>8</td><td>Porta disco</td></tr>
            <tr><td>9</td><td>Guía</td></tr>
            <tr><td>10</td><td>Junta de la guía</td></tr>
            <tr><td>11</td><td>Bonete</td></tr>
            <tr><td>12</td><td>Junta del bonete</td></tr>
            <tr><td>13</td><td>Esparrago del cuerpo</td></tr>
            <tr><td>14</td><td>Tuerca del cuerpo</td></tr>
            <tr><td>15</td><td>Vástago</td></tr>
            <tr><td>16</td><td>Retenedor del Vástago</td></tr>
            <tr><td>17</td><td>Arandelas del Muelle</td></tr>
            <tr><td>18</td><td>Muelle</td></tr>
            <tr><td>19</td><td>Tornillo de ajuste</td></tr>
            <tr><td>20</td><td>Tuerca del bloqueo</td></tr>
            <tr><td>21</td><td>Caperuza</td></tr>
            <tr><td>27</td><td>Junta de Caperuza</td></tr>
            <tr><td>40</td><td>Fuelle</td></tr>
            <tr><td>41</td><td>Junta del Fuelle</td></tr>
            
            </tbody>
        </table>
    </div>
</div>
