<h3 class="secciones">Válvulas Alivio Presión (con muelle) vacío</h3>
<div class="valvulas-container">
    <div class="seg-conv-container-img">
        <img src="../../../assets/img/presion-muelle-vacio.png" class="">
    </div>
    <div class="seg-conv-container-tablero">
        <table>
            <thead>
            <tr>
                <th>Items</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>1</td><td>Cuerpo</td></tr>
            <tr><td>2</td><td>Asiento</td></tr>
            <tr><td>3</td><td>Caperuza protección</td></tr>
            <tr><td>4</td><td>Bonete</td></tr>
            <tr><td>5</td><td>Caperuza de bonete</td></tr>
            <tr><td>6</td><td>Tornillo de ajuste</td></tr>
            <tr><td>7</td><td>Tuerca de bloqueo</td></tr>
            <tr><td>8</td><td>Arandelas de muelle</td></tr>
            <tr><td>9</td><td>Muelle</td></tr>
            <tr><td>10</td><td>Tornillos de caperuza</td></tr>
            <tr><td>11</td><td>Tapa de lado vacío</td></tr>
            <tr><td>12</td><td>Tornillos de la tapa</td></tr>
            <tr><td>13</td><td>Arandela del sellado</td></tr>
            <tr><td>14</td><td>Junta</td></tr>
            <tr><td>15</td><td>Paleta presión</td></tr>
            <tr><td>15.1</td><td>Paleta vacío</td></tr>
            <tr><td>16</td><td>Vástago de la paleta</td></tr>
            <tr><td>17</td><td>Postes de guía de paleta</td></tr>
            <tr><td>18</td><td>Disco espaciador presión</td></tr>
            <tr><td>18.1</td><td>Disco espaciador vacío</td></tr>
            <tr><td>19</td><td>Disco respaldo diafragma presión</td></tr>
            <tr><td>19-1</td><td>Disco respaldo diafragma vacío</td></tr>
            <tr><td>20</td><td>Diafragma presión</td></tr>
            <tr><td>20.1</td><td>Diafragma vacío</td></tr>
            <tr><td>21</td><td>Disco soporte diafragma presión</td></tr>
            <tr><td>21.1</td><td>Disco soporte diafragma vacío</td></tr>
            <tr><td>22</td><td>Pesas paleta presión</td></tr>
            <tr><td>23</td><td>Presas paleta vacío</td></tr>
            </tbody>
        </table>

    </div>

</div>

