<div class="pages-container">
    <!-- <div class="pages-header">
        <div class="pages-header-left">
            <div class="logo">LOGO</div>
        </div>
        <div class="pages-header-right">
             <div class="opt-1">Opcion 1</div>
             <div class="opt-2">Opcion 2</div>
             <div class="avatar">Avatar</div>
        </div> 
        
    </div> -->
    <app-header></app-header>
    <div class="pages">
        <div class="pages-sidebar">
            <div class="menu">
                <ul class="menu-items">
                    <li class="menu-items-links">
                        <a href="#" class="items">Dispositivos Alivio de presión</a>
                        <ul class="subitems">
                            <li class="subitems-link"><a href="#" class="link">Datos técnicos</a></li>
                        </ul>
                    </li>
                    <li class="menu-items-links">
                        <a href="#" class="items">Tarado y mantenimiento</a>
                        <ul class="subitems">
                            <li class="subitems-link"><a href="#" class="link">Alivio y/o seguridad</a></li>
                            <li class="subitems-link"><a href="#" class="link">Alivio térmico</a></li>
                            <li class="subitems-link"><a href="#" class="link">Piloto operada</a></li>
                            <li class="subitems-link"><a href="#" class="link">Presión / vacio</a></li>
                            <li class="subitems-link"><a href="#" class="link">Presión resorte / vacio</a></li>
                            <li class="subitems-link"><a href="#" class="link">Emergencia</a></li>
                        </ul>
                    </li>
                    <li class="menu-items-links">
                        <a href="#" class="items">Válvulas</a>
                        <ul class="subitems">
                            <li class="subitems-link"><a href="#" class="link">Seguridad convencional</a></li>
                            <li class="subitems-link"><a href="#" class="link">Seguridad balanceada (Fuelle)</a></li>
                            <li class="subitems-link"><a href="#" class="link">Presión y vacio</a></li>
                            <li class="subitems-link"><a href="#" class="link">Presión (con muelle) / vacio</a></li>
                        </ul>
                    </li>
                    <li class="menu-items-links">
                        <a href="#" class="items">Reportes</a>
                        <ul class="subitems">
                            <li class="subitems-link"><a href="#" class="link">Generar reporte</a></li>
                        </ul>
                    </li>
                    <li class="menu-items-links">
                        <a href="#" class="items">Perfil usuario</a>
                        <ul class="subitems">
                            <li class="subitems-link"><a href="#" class="link">Datos usuario</a></li>
                            <li class="subitems-link"><a href="#" class="link">Cambio contraseña</a></li>
                        </ul>
                    </li> 
                </ul>
            </div>
        </div>
        <div class="pages-content">
            <p>pages works!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse in voluptate vitae cumque ex odio laudantium eius porro, maxime rem eos nobis aliquid minus iste aut? Ad possimus recusandae quam!</p>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
