<div class="pages-container">
    <app-header></app-header>
    <div class="pages">
        <div class="pages-sidebar" [ngClass]="{'show_menu':env.show_menu==true,'hidden_menu':env.show_menu==false}">
            <app-sidebar></app-sidebar>
        </div>
        <div class="pages-content" [ngClass]="{'open_content':env.show_menu==true,'close_content':env.show_menu==false}">
            <app-breadcrumbs></app-breadcrumbs>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
