/* You can add global styles to this file, and also import other style files */

 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

 :root{
  --color-main:#DBDBDB; 
  --color-primary:#eb2f64;
  --color-secondary:#fe8200;
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-grey-light-1:#faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-3:#f0eeee;
  --color-grey-light-4:#ccc;
  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-3:#999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-light:0 2rem 5rem rgba(0,0,0,0.06);
  --line:1px solid var(--color-grey-light-2);
  --box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
  }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}

body{
  font-size: 62.5%;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  
}

html, body { height: 100%; }
body {
  // margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

@mixin flexbox {
    display:-webkit-flex; 
    display: -ms-flexbox; 
    display:flex; 
}

/* inicio pages container*/
.pages-container{
    width: 100%;
    height: 100%;
  
    .pages-header{
      @include flexbox;
      flex-flow: row nowrap;
      width: 100%;
      height: 4rem;
      justify-content: space-between;
      align-items: center;
      background-color:var(--color-secondary);
      position: fixed;
      top:0;
      z-index: 50000;

      &-left{
        @include flexbox;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-left:1.5rem;
      
        .logo{
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-self: stretch;
          justify-content: flex-start;
          align-items: center;
          
          &-img{
            display: flex;
            width: 8.5rem;
            height: 3.5rem;
          }

          .opcmenu{
            margin-left: 4rem;
            transition: all .2s;
            cursor: pointer;
            
            &:hover{
              opacity: 0.6;
              color: var(--color-main);
            }
          }
          
        }
      }

      &-right{
         @include flexbox;
        flex-flow: row nowrap;
        align-self: stretch;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1.5rem;
        height: 100%;
        width: 100%;

        & > *{
          padding: 0 .5rem;
          cursor: pointer;
          height: 100%;
           @include flexbox;
          align-items: center;
        }
        .avatar{
           @include flexbox;
        }

      }
    }
   
    .pages{
        @include flexbox;
        width: 100%;
        height: 100%;
        flex-flow: row nowrap;
        position: relative;
        

        &-sidebar{
          @include flexbox;
          position: fixed;
          height: 100%;
          top:4rem;
          bottom: 0;
          z-index:2000;
          left:0;
          padding-top: 1rem; 
          background-color: #C02425;
          overflow-x: hidden;
          overflow-y: scroll;
          box-shadow: .2rem .2rem .8rem var(--color-grey-light-4);
         
          .menu{
            width: 100%;
            line-height: 2rem;
            height: 100%;
            margin-bottom:10rem;   
            &-items{

              &-links{
                list-style: none;
     
                .items{
                  @include flexbox;
                  flex-wrap: row nowrap;
                  justify-content: flex-start;
                  align-items: center;
                  width: 16rem;
                  color:var(--color-grey-light-4);
                  font-weight: 400;
                  font-size: .8rem;
                  text-transform: uppercase;
                  background: #e43a15; 
                  background: -webkit-linear-gradient(to right, #e65245, #e43a15); 
                  background: linear-gradient(to right, #e65245, #e43a15);
                  opacity: 0.8;      
                  padding-left: .5rem;
                  height: 2rem;

                  .fa{
                    margin-right: .5rem;
                    color:#ECE9E6;
                  }
                } 
              
              }
            }
            .subitems{
              width: 100%;
             
              &-link{
                width: 100%;
                .link{
                    color:#fff;
                    font-size: .9rem;
                    display: block;    
                    padding-left: 1.5rem;
                    transition: all .2s;  
                    opacity: 0.8;     
                    &:hover{
                      background: #ECE9E6; 
                      color:var(--color-grey-dark-1);
                      padding-left: 2rem;
                      opacity: .8;     
                      font-weight: 400;
                    }
                }

              }
              

            }
          }
        }

        &-content{
          @include flexbox;
          flex-direction: column; 
          padding-top: 5rem;
          height: 100%;
          position: relative;
          overflow-y: visible;
          
     
        }

    }

}

.open_content{
  width: 80%;
  left:20%;
  margin-right:2rem;
  animation: Efecto_activo .3s;
  animation-timing-function: ease-out;  
}

.close_content{
  width: 100%;
  left:0%;
  margin-left: 4rem;
  margin-right:2rem;
  animation: Efecto_activo .3s;
  animation-timing-function: ease-out;
}


.show_menu{
  width: 16rem;
  min-width: 16rem;
  animation: Efecto_activo .2s;
  animation-timing-function: ease-out;  
}

.hidden_menu{ 
  width: 0px;
  -webkit-transition: .1s ease-out; 
  -moz-transition: .1s ease-out; 
  -o-transition:  .1s ease-out;
  transition:  .1s ease-out; 
}

@keyframes Efecto_activo{
  0%{
     opacity: 0;
  }
  50%{
     opacity: 0.6;
  }
  100%{
     opacity: 1;
  }
}

@keyframes Efecto_desactivo{
  0%{
     opacity: 1; 
  }
  50%{
     opacity: 0.4;
  }
  100%{
     opacity: 0; 
  }
}


/*Scroll de la pagina*/
::-webkit-scrollbar-thumb {background-color: #f85032;}
::-webkit-scrollbar { width: .3rem;}
::-webkit-scrollbar-track {background-color: #b8b8ba;}

/* inicio pages container*/

/* valvulas container*/

/* table { 
  width: 100%; 
  border-collapse: collapse; 
  font-size: .8rem;
}
tr:nth-of-type(odd) { 
  background: #eee; 
}
thead{
  text-align: center;
  justify-content: center;
  
}
caption{
  background: var(--color-secondary);
  font-weight: bold;
}
th { 
  background: #333; 
  color: white; 
  font-weight: 400;
  width: 10rem; 
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

tr:hover{
  background-color:#fe8200;
  color:#fff;
  opacity: 0.8;
  
} */

/* inicio secciones */
.secciones{
  @include flexbox;
 color: var(--color-secondary);
  font-size: .9rem !important;
  text-decoration: underline;
  margin-top: 3rem;
}

.valvulas-container{
    @include flexbox;
    flex-wrap: row nowrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;

    .seg-conv-container-img{
      margin-right: 2rem;
      @include flexbox;
      table{
        width: 20rem;
       
        th{
          @include flexbox;
          justify-content: center;
          align-items: center;
          background: var(--color-secondary);
          color: white; 
          text-transform: uppercase;
          font-size: .8rem;
          font-weight: normal;
          justify-content: center !important;
          height: 3.5rem;
        }
        
        tr{
          td{
            text-align: center;
            img{
              margin-top: .5rem;
            }

            .responsive {
              max-width: 100%;
              height: auto;
            }
          }
        }
      
      }
    }

    .seg-conv-container-tablero{
      @include flexbox;

      table{
        width: 30rem;
        margin-bottom: 5rem;
        
        .mat-sort-header-container , th{
         // background: #333; 
        // background: #DBDBDB;
          background: var(--color-secondary);
          color: white; 
         // color:#2c3e50;
          text-transform: uppercase;
          font-size: .8rem;
          justify-content: center !important;
        }
        
        tr.mat-row{
          td{
            text-align: center;
            font-size: .8rem;
            color:#333;
          }
        
        }
      
      }

      tr.mat-row:hover {
        background: #F2F2F2;
      }
    }

}

/* td:hover{
  color:white;
} */


/* fin secciones*/


/* Inicio datos técnicos*/
.mat-ink-bar{ 
  background-color: #e43a15 !important;
}
.mat-tab-label{
  font-size: .7rem;
  font-weight: 700;
  color:#e43a15 !important;
}  

.example-full-width {
  width: 95.1%;
  min-width: 95.1%;
  max-width: 95.1%;
  margin-bottom: 1.5rem;
  .mat-input-element{
    padding-bottom: 2rem;

  }
}



/* fin datos técnicos*/


/* valvulas container*/

/* .table { 
  width: 100%; 
  border-collapse: collapse; 
  font-size: .8rem;
  text-align: center;
}

.tr:nth-of-type(odd) { 
  background: #eee; 
}
.th { 
  background: #333; 
  color: white; 
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  
}
.td, .th { 
  border: 1px solid #ccc; 
  text-align: center;
  height: 2.5rem; 
  font-size: .8rem;
  width: .5rem;
}

.tr:hover{
  background-color:inherit !important;
  color:#000;
  opacity: 0.8;
  
} */

/* fin valvular container*/

.td-num{
  text-align: center;
  width: 5rem;
}

.td-items{
  text-align: center;
  width: 5rem;
}

/* .td-texto{
  text-align: center;
  width: 10rem;
} */

/* .tr-encabezados{
  height: 2.5rem;
}
 */

 


/*Inicio Tabla formulario alivio convencional */
 .insp-val-convencional-container{
  @include flexbox;
  flex-wrap: row nowrap;
  //justify-content: space-around;
  justify-content: center; 
  margin-bottom: 5rem;

  &-tablero{
    @include flexbox;
    width: 100%;
    justify-content: center;

    table{
      width: 90%;
      margin-bottom: 3rem;
    
      .mat-sort-header-container , th{
        background: var(--color-secondary);
        color: white; 
        text-transform: uppercase;
        font-size: .8rem;
        text-align: center;
        justify-content: center !important;
        text-align: center;
      }
      
      tr.mat-row{
        td{
          text-align: center;
          font-size: .8rem;
          color:#333;
        }
      
      }
    
    }

  }

} 

/*Fin Tabla formulario alivio convencional */

/*Inicio Tabla Dasboard */
.dashboard-container{

}

/*Fin Tabla Dashboard */


@media only screen and (max-width: 600px) {
  .valvulas-container{
    @include flexbox;
    width: 100%;
    display: flex; 
    flex-flow: column wrap; 
    width: 100%; 
    height: 100%;
    justify-content: flex-start;

    .seg-conv-container-img{
      @include flexbox;
      justify-content: center;
      width: 100%;
      margin-bottom: 3rem;
      table{
        width: 20rem;
       
        th{
          @include flexbox;
          justify-content: center;
          align-items: center;
          background: var(--color-secondary);
          color: white; 
          text-transform: uppercase;
          font-size: .8rem;
          font-weight: normal;
          justify-content: center !important;
          height: 3.5rem;
        }
        
        tr{
          td{
            text-align: center;
            width: 100%;
            img{
              margin-top: .5rem;
              width: 100%;
            }
          }
        }
      
      }
    }

    .seg-conv-container-tablero{
      @include flexbox;
      justify-content: center;
      width: 100%;
      table{
        width: 20rem;
        margin-bottom: 5rem;
       
        .mat-sort-header-container , th{
          background: var(--color-secondary);
          color: white; 
          text-transform: uppercase;
          font-size: .8rem;
          justify-content: center !important;
        }
        
        tr.mat-row{
          td{
            text-align: center;
            font-size: .8rem;
            color:#333;
          }
        
        }
      
      }

      tr.mat-row:hover {
        background: #F2F2F2;
      }
    }

}

 
}

.mat-tab-body-content{
  height: 100%;
  overflow: hidden !important;
  overflow-y: hidden !important;
}