<!-- <div class="dashboard-container">
    <div class="dashboard-container-tablero-uno">
        
        <table>
            <caption>PLAN DEL AÑO</caption>
            <thead>
            <tr>
                <th>AREA</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO DE PARADA</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CONV. SUR</td><td></td><td></td>
            </tr>
            <tr>
                <td>PQB</td><td></td><td></td>
            </tr>
            <tr>
                <td>REFINERIA</td><td></td><td></td>
            </tr>
            <tr>
                <td>MMEE</td><td></td><td></td>
            </tr>
            <tr>
                <td>CONV. NOR</td><td></td><td></td>
            </tr>
            <tr>
                <td>ENERGIAS</td><td></td><td></td>
            </tr>
            <tr>
                <td>LUBRICANTES</td><td></td><td></td>
            </tr>
            <tr>
                <td>TOTAL</td><td></td><td></td>
            </tr>
           
            </tbody>
        </table>
    </div>

    <div class="dashboard-container-tablero-dos">
        <table>
            <caption>BALANCE DEL MES</caption>
            <thead>
            <tr>
                <th>AREA</th>
                <th>NUEVA</th>
                <th>CORRECT.</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO PARADA</th>
                <th>N° > 110%</th>
                <th>% > 110%</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CONV. SUR</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>PQB</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>REFINERIA</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>MMEE</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>CONV. NOR</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>ENERGIAS</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>LUBRICANTES</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>TOTAL</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="dashboard-container-tablero-tres">
        <table>
            <caption><span style="float:left;padding-left: 10rem;">ACUMULADO DEL AÑO AL CIERRE DEL MES</span><span style="float:right;padding-right: 5rem;">PENDIENTE DEL PLAN</span></caption>
            <thead>
            <tr>
                <th>AREA</th>
                <th>NUEVA</th>
                <th>CORRECT.</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO PARADA</th>
                <th>N° > 110%</th>
                <th>% > 110%</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO PARADA</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CONV. SUR</td><td></td><td></td><td></td><td></td><td></td><td></td><td>SI</td><td></td>
            </tr>
            <tr>
                <td>PQB</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>SI</td>
            </tr>
            <tr>
                <td>REFINERIA</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>MMEE</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>CONV. NOR</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>ENERGIAS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>LUBRICANTES</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>TOTAL</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->
