<div class="dashboard-container">
    <div class="dashboard-container-tabla-uno">
        <form class="create-account-form">
            <div class="upload-btn-wrapper botones">
              <button mat-raised-button color="warn">Elegir archivo<i class="fa fa-upload" aria-hidden="true"></i></button>
                <input type="file" name="myfile" (change)="onFileChange($event)" multiple="false" />
            </div>
              <mat-form-field style="display: block; margin-top:2rem; width: 20%;">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese el dato a buscar" #input>
              </mat-form-field>
            
              <table mat-table [dataSource]="dataSources" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="Unit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad. </th>
                  <td class="tde" mat-cell *matCellDef="let element"> {{element.Unit}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Area">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
                  <td class="tde" mat-cell *matCellDef="let element"> {{element.Area}} </td>
                </ng-container>
            
                <ng-container matColumnDef="TAG">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.TAG}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Cat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cat </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Cat}} </td> 
                </ng-container>
                
                <ng-container matColumnDef="Frec">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Frec años </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Frec}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Ult_Tarado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha último tarado </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Ult_Tarado}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Ult_a_Tarado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> año último tarado </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Ult_a_Tarado}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Prox_Tarado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha proximo tarado x año </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Prox_Tarado}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Prox_a_Tarado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> año de proximo tarado x categotia </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Prox_a_Tarado}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Nueva">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> nueva </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Nueva}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Correct">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> correct </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Correct}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Ordinario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> plan ordinario </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Ordinario}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Parada">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ciclo parada </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Parada}} </td>
                </ng-container>
            
                <ng-container matColumnDef="STs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ST.s </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.STs}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Prio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pridad </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Prio}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Tip_Activ">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> tipo actividad </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Tip_Activ}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Motivo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>motivo </th>
                    <td class="tde" mat-cell *matCellDef="let element"> {{element.Motivo}} </td>
                </ng-container>
                
              
                <tr mat-header-row *matHeaderRowDef="displayedColumnas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnas;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20,50]" showFirstLastButtons ></mat-paginator>
            </form>
    </div>
    <div class="dashboard-container-tabla-dos">

    </div>
    <div style="display: block; width: 75%; margin-bottom: 5rem;">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
     <!--  <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
      <div style="display: block; width: 75%;margin-bottom: 5rem;">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [colors]="colors"
          [chartType]="doughnutChartType">
        </canvas>
      </div>
  
</div>


    



<!-- <div class="dashboard-container">
    <div class="dashboard-container-tablero-uno">
        
        <table>
            <caption>PLAN DEL AÑO</caption>
            <thead>
            <tr>
                <th>AREA</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO DE PARADA</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CONV. SUR</td><td></td><td></td>
            </tr>
            <tr>
                <td>PQB</td><td></td><td></td>
            </tr>
            <tr>
                <td>REFINERIA</td><td></td><td></td>
            </tr>
            <tr>
                <td>MMEE</td><td></td><td></td>
            </tr>
            <tr>
                <td>CONV. NOR</td><td></td><td></td>
            </tr>
            <tr>
                <td>ENERGIAS</td><td></td><td></td>
            </tr>
            <tr>
                <td>LUBRICANTES</td><td></td><td></td>
            </tr>
            <tr>
                <td>TOTAL</td><td></td><td></td>
            </tr>
           
            </tbody>
        </table>
    </div>

    <div class="dashboard-container-tablero-dos">
        <table>
            <caption>BALANCE DEL MES</caption>
            <thead>
            <tr>
                <th>AREA</th>
                <th>NUEVA</th>
                <th>CORRECT.</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO PARADA</th>
                <th>N° > 110%</th>
                <th>% > 110%</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CONV. SUR</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>PQB</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>REFINERIA</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>MMEE</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>CONV. NOR</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>ENERGIAS</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>LUBRICANTES</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>TOTAL</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="dashboard-container-tablero-tres">
        <table>
            <caption><span style="float:left;padding-left: 10rem;">ACUMULADO DEL AÑO AL CIERRE DEL MES</span><span style="float:right;padding-right: 5rem;">PENDIENTE DEL PLAN</span></caption>
            <thead>
            <tr>
                <th>AREA</th>
                <th>NUEVA</th>
                <th>CORRECT.</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO PARADA</th>
                <th>N° > 110%</th>
                <th>% > 110%</th>
                <th>PLAN ORDINARIO</th>
                <th>CICLO PARADA</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CONV. SUR</td><td></td><td></td><td></td><td></td><td></td><td></td><td>SI</td><td></td>
            </tr>
            <tr>
                <td>PQB</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>SI</td>
            </tr>
            <tr>
                <td>REFINERIA</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>MMEE</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>CONV. NOR</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>ENERGIAS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>LUBRICANTES</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>TOTAL</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->
